.divHome{
  height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.titleHome{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.bodyHome{
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  height: 360px;
  width: 520px;
  

}

.bodyHomeConsultations{
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  width: 520px;
  overflow: scroll;
  overflow-x: hidden;
  overflow: auto;
}

.divImgPlant{
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.divImgCertificates{
  height: 100%;
}

.divMsgEmpty{
  width: 200px;
 
}

.footerHome{
  display: flex;
  justify-content: space-between;
  margin: 16px;
}

.consultations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 32px;
}


@media(max-width: 768px){
  .bodyHome {
    width: 90%;
  }
  .bodyHomeConsultations{
    width: 90%;
  }
}

