.login-page {
  display: flex;
  align-items: center;
  margin-top: 100px;
  

}

.login-page > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}




.boxFrame {
  height: auto;
}


@media(max-width: 768px){
  .boxFrame {
    height: 0px;
  }
  .login-page{
    flex-direction: column;
  }
}



