

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerHome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerUser {
    display: flex;
    flex-direction: row;
    align-items: center;
}
 
.imgLogoHeader{
    padding-left: 16px;
    object-fit: contain;
}

.divAutoComplete{
    margin-bottom: 16px;
}

.divButtonModal{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 16px;
}

@media(max-width: 768px){
    .headerHome {
        justify-content: center;
    }
  }



  
  
  